Repository SELab-2/Dr-Trottoir-2, pull requests merged in 2023-05, with the labels that each got.

#252 :building_construction: comment model
  backend/drtrottoir/admin.py
  backend/drtrottoir/migrations/0018_remove_schedule_comment_remove_visit_comment_comment.py
  backend/drtrottoir/migrations/0019_schedulecomment_visitcomment_delete_comment.py
  backend/drtrottoir/migrations/0020_alter_schedulecomment_created_at_and_more.py
  backend/drtrottoir/migrations/0021_customuser_phone_alter_photo_comment.py
  backend/drtrottoir/models/__init__.py
  backend/drtrottoir/models/comment.py
  backend/drtrottoir/models/custom_user.py
  backend/drtrottoir/models/photo.py
  backend/drtrottoir/models/schedule.py
  backend/drtrottoir/models/visit.py
  backend/drtrottoir/serializers/__init__.py
  backend/drtrottoir/serializers/comment_serializer.py
  backend/drtrottoir/serializers/schedule_serializer.py
  backend/drtrottoir/tests/factories/__init__.py
  backend/drtrottoir/tests/factories/comment_factory.py
  backend/drtrottoir/tests/factories/schedule_factory.py
  backend/drtrottoir/tests/factories/visit_factory.py
  backend/drtrottoir/tests/views/__init__.py
  backend/drtrottoir/tests/views/test_comment.py
  backend/drtrottoir/tests/views/test_schedule.py
  backend/drtrottoir/tests/views/test_visit.py
  backend/drtrottoir/urls.py
  backend/drtrottoir/views/__init__.py
  backend/drtrottoir/views/comment_viewset.py
  backend/drtrottoir/views/schedule_viewset.py
  backend/drtrottoir/views/user_viewset.py
  backend/drtrottoir/views/visit_viewset.py
  backend/fixtures/init_data.json
Labels: backend

#309 :recycle: creating tours endpoint consistency fix
  backend/drtrottoir/tests/views/test_tour.py
  backend/drtrottoir/urls.py
  backend/drtrottoir/views/__init__.py
  backend/drtrottoir/views/comment_viewset.py
  backend/drtrottoir/views/tour_viewset.py
  backend/drtrottoir/views/user_viewset.py
Labels: backend

#315 ✨ File handling for server
  backend/Dockerfile.prod
  backend/fixtures/prod_init_data.json
  docker-compose.prod.yml
  nginx/nginx.conf
Labels: bug, enhancement, backend

#314 🚚 moved /admin FE route to /beheer
  frontend/__tests__/navbar.test.jsx
  frontend/src/components/navbar/Navbar.jsx
  frontend/src/pages/beheer/gebouwen.jsx
  frontend/src/pages/beheer/personeel.jsx
  frontend/src/pages/beheer/planning.jsx
  frontend/src/pages/beheer/planningen/[pid].jsx
  frontend/src/pages/beheer/syndici.jsx
Labels: bug, frontend

#323 :bug: User Activation Endpoints
  backend/drtrottoir/admin.py
  backend/drtrottoir/permissions/user_permissions.py
  backend/drtrottoir/serializers/register_serializer.py
  backend/drtrottoir/serializers/user_serializer.py
  backend/drtrottoir/tests/views/test_register.py
  backend/drtrottoir/tests/views/test_user.py
  backend/drtrottoir/views/user_viewset.py
Labels: backend

#324 ✨ building page
  backend/drtrottoir/serializers/__init__.py
  backend/drtrottoir/serializers/comment_serializer.py
  backend/drtrottoir/serializers/user_partial.py
  backend/drtrottoir/views/building_viewset.py
  frontend/src/pages/beheer/gebouwen.jsx
  frontend/src/services/building.service.js
Labels: enhancement, frontend, backend

#337 Remove user rework
  backend/drtrottoir/admin.py
  backend/drtrottoir/migrations/0022_customuser_deleted.py
  backend/drtrottoir/models/custom_user.py
  backend/drtrottoir/serializers/user_serializer.py
  backend/drtrottoir/tests/views/test_user.py
  backend/drtrottoir/views/user_viewset.py
Labels: backend

#343 ✨ Buildings addressable by url
  frontend/src/components/PhotoPage.jsx
  frontend/src/pages/beheer/gebouwen.jsx
  frontend/src/pages/beheer/gebouwen/[building_id].jsx
Labels: enhancement, frontend

#355 :bug: protection bug
  backend/drtrottoir/migrations/0023_alter_visit_schedule.py
  backend/drtrottoir/models/visit.py
Labels: bug, backend

#359 waste endpoint parameter querying
  backend/drtrottoir/views/waste_viewset.py
Labels: backend

#268 ✨ admin page: templates
  backend/drtrottoir/admin.py
  backend/drtrottoir/migrations/0024_template.py
  backend/drtrottoir/models/__init__.py
  backend/drtrottoir/models/template.py
  backend/drtrottoir/serializers/__init__.py
  backend/drtrottoir/serializers/template_serializer.py
  backend/drtrottoir/urls.py
  backend/drtrottoir/views/__init__.py
  backend/drtrottoir/views/template_viewset.py
  frontend/src/components/input-fields/InputField.jsx
  frontend/src/components/navbar/Navbar.jsx
  frontend/src/pages/beheer/templates.jsx
  frontend/src/services/template.service.js
Labels: frontend, backend

#378 339 pagination error
  backend/backend/settings.py
  backend/drtrottoir/views/building_in_tour_viewset.py
  backend/drtrottoir/views/building_viewset.py
  backend/drtrottoir/views/comment_viewset.py
  backend/drtrottoir/views/photo_viewset.py
  backend/drtrottoir/views/region_viewset.py
  backend/drtrottoir/views/schedule_viewset.py
  backend/drtrottoir/views/template_viewset.py
  backend/drtrottoir/views/tour_viewset.py
  backend/drtrottoir/views/user_viewset.py
  backend/drtrottoir/views/visit_viewset.py
  backend/drtrottoir/views/waste_viewset.py
Labels: bug, backend

#380 Backend tests
  backend/drtrottoir/tests/views/test_building.py
  backend/drtrottoir/tests/views/test_comment.py
  backend/drtrottoir/tests/views/test_waste.py
  backend/drtrottoir/views/building_viewset.py
Labels: backend
